{
  "openapi": "3.0.3",
  "info": {
    "title": "Geoapify Geocoding",
    "description": "Forward and reverse geocoding via Geoapify.",
    "version": "1.0.0",
    "contact": {
      "name": "Geoapify",
      "url": "https://geoapify.com",
      "email": "info@geoapify.com"
    }
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Geocoding",
      "description": "Convert addresses to coordinates and coordinates to addresses"
    }
  ],
  "paths": {
    "/geocode/search": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "operationId": "geocodeSearch",
        "summary": "Forward geocoding (address/place to coordinates)",
        "description": "Provide free-form text or structured address fields to find locations",
        "security": [
          {
            "GeoapifyApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free-form address or place name",
            "example": "Hannoverstr. 8, 80997 Munich"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Amenity or place name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "housenumber",
            "in": "query",
            "required": false,
            "description": "House number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "description": "Street name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "description": "Postcode or ZIP code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Location type filter",
            "schema": {
              "type": "string",
              "enum": [
                "country",
                "state",
                "city",
                "postcode",
                "street",
                "amenity"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Result language in [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format (e.g., 'en' for English).",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max number of results",
            "schema": {
              "type": "integer",
              "default": 5,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict search to a specific geographic area. Use one of these formats:\n- circle:lon,lat,radiusMeters (e.g. circle:-87.770231,41.878968,5000) - rect:lon1,lat1,lon2,lat2 (bounding box) - countrycode:de,fr (ISO country codes) - place:placeId (boundary from another Geoapify response)\n"
          },
          {
            "name": "bias",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Prefer results near an area, but do not restrict the search. Use one of:\n- proximity:lon,lat (e.g. proximity:11.5,48.1) - circle:lon,lat,radiusMeters - rect:lon1,lat1,lon2,lat2 - countrycode:de,fr\n"
          }
        ],
        "responses": {
          "200": {
            "description": "The geocoded results in GeoJSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "minimal": {
                    "value": {
                      "type": "FeatureCollection",
                      "features": [

                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/geocode/reverse": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "operationId": "geocodeReverse",
        "summary": "Reverse geocoding (coordinates to address)",
        "description": "Convert latitude/longitude into a human-readable address.",
        "security": [
          {
            "GeoapifyApiKey": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude",
            "example": 36.47032
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude",
            "example": -86.65138
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Max number of results"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "country",
                "state",
                "city",
                "postcode",
                "street",
                "amenity",
                "locality"
              ]
            },
            "description": "Location type filter"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 639-1 language code",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding results (GeoJSON)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "minimal": {
                    "value": {
                      "type": "FeatureCollection",
                      "features": [

                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "GeoapifyApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key used to authenticate requests to Geoapify services."
      }
    }
  }
}