openapi: 3.0.3
info:
  title: Places API
  description: |
    The Places API enables querying local points of interest and amenities. You can search for places within a city,
    a radius, an isoline, or a bounding box, filtered by categories and conditions.
  version: 1.0.0
  contact:
    name: Geoapify
    url: https://geoapify.com
    email: info@geoapify.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.geoapify.com/v2
    description: Main Geoapify API server

tags:
  - name: Places
    description: Query points of interest and amenities.

paths:
  /places:
    get:
      tags: [Places]
      operationId: getPlaces
      summary: Search for places by category and location
      description: |
        Returns points of interest based on specified location and filters.
        Coordinates in GeoJSON are in [lon, lat] order.
      security:
        - GeoapifyApiKey: []
      parameters:
        - name: categories
          in: query
          required: true
          description: >
            Comma-separated list of place categories.
            Each value must be one of the supported `PlaceCategory` enum values.
          schema:
            type: string
          example: catering.restaurant,catering.cafe

        - name: conditions
          in: query
          required: false
          description: Filter results by conditions (e.g., wheelchair.limited).
          schema:
            type: string
          example: wheelchair.limited

        - name: filter
          in: query
          required: false
          description: |
            Filter results by geometry:
            - rect:lon1,lat1,lon2,lat2
            - circle:lon,lat,radiusMeters
            - geometry:<geojson>
            - place:<placeId>
            - countrycode:de,fr
          schema:
            type: string
          example: rect:11.573106549898483,48.13898913611139,11.57704581350751,48.13666585409989

        - name: bias
          in: query
          required: false
          description: Prefer results near a location, e.g. proximity:lon,lat.
          schema:
            type: string
          example: proximity:11.573106549898483,48.13898913611139

        - name: limit
          in: query
          required: false
          description: Maximum number of results per page.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20

        - name: offset
          in: query
          required: false
          description: Offset for pagination.
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0

        - name: lang
          in: query
          required: false
          description: ISO 639-1 language code (e.g., en).
          schema:
            type: string
          example: en

        - name: name
          in: query
          required: false
          description: Filter places by name.
          schema:
            type: string
          example: Guido al Duomo

      responses:
        "200":
          description: Successful response containing places data (GeoJSON FeatureCollection).
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/PlacesGeoJsonResponse"
        "400":
          description: Invalid request or missing parameters.
        "401":
          description: Unauthorized, invalid API key.
        "429":
          description: Too many requests.
        "500":
          description: Internal server error.

components:
  securitySchemes:
    GeoapifyApiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API key used to authenticate requests to Geoapify services.

  schemas:
    LonLat:
      type: array
      minItems: 2
      maxItems: 2
      items:
        type: number
      description: Coordinate in [lon, lat] order

    GeoJsonPoint:
      type: object
      required: [type, coordinates]
      additionalProperties: true
      properties:
        type:
          type: string
          enum: [Point]
        coordinates:
          $ref: "#/components/schemas/LonLat"

    PlacesFeature:
      type: object
      required: [type, properties, geometry]
      additionalProperties: true
      properties:
        type:
          type: string
          enum: [Feature]
        properties:
          type: object
          additionalProperties: true
          description: Place properties (category, address fields, datasource, etc.)
        geometry:
          $ref: "#/components/schemas/GeoJsonPoint"

    PlacesGeoJsonResponse:
      type: object
      required: [type, features]
      additionalProperties: true
      properties:
        type:
          type: string
          enum: [FeatureCollection]
        features:
          type: array
          items:
            $ref: "#/components/schemas/PlacesFeature"
        properties:
          type: object
          additionalProperties: true
          description: Optional FeatureCollection properties (if present)
    PlaceCategory:
      type: string
      description: One supported Places API category.
      enum:
        - accommodation
        - accommodation.hotel
        - accommodation.hut
        - accommodation.apartment
        - accommodation.chalet
        - accommodation.guest_house
        - accommodation.hostel
        - accommodation.motel
        - activity
        - activity.community_center
        - activity.sport_club
        - adult
        - adult.nightclub
        - adult.stripclub
        - adult.swingerclub
        - adult.brothel
        - adult.casino
        - adult.adult_gaming_centre
        - airport
        - airport.private
        - airport.international
        - airport.military
        - airport.gliding
        - airport.airfield
        - amenity
        - amenity.toilet
        - amenity.drinking_water
        - amenity.give_box
        - amenity.give_box.food
        - amenity.give_box.books
        - beach
        - beach.beach_resort
        - administrative
        - administrative.continent_level
        - administrative.country_level
        - administrative.country_part_level
        - administrative.state_level
        - administrative.county_level
        - administrative.city_level
        - administrative.district_level
        - administrative.suburb_level
        - administrative.neighbourhood_level
        - postal_code
        - political
        - low_emission_zone
        - building
        - building.residential
        - building.commercial
        - building.industrial
        - building.office
        - building.catering
        - building.healthcare
        - building.university
        - building.college
        - building.dormitory
        - building.school
        - building.driving_school
        - building.kindergarten
        - building.public_and_civil
        - building.sport
        - building.spa
        - building.place_of_worship
        - building.holiday_house
        - building.accommodation
        - building.tourism
        - building.transportation
        - building.military
        - building.service
        - building.facility
        - building.garage
        - building.parking
        - building.toilet
        - building.prison
        - building.entertainment
        - building.historic
        - camping
        - camping.camp_pitch
        - camping.camp_site
        - camping.summer_camp
        - camping.caravan_site
        - catering
        - catering.restaurant
        - catering.restaurant.pizza
        - catering.restaurant.burger
        - catering.restaurant.regional
        - catering.restaurant.italian
        - catering.restaurant.chinese
        - catering.restaurant.sandwich
        - catering.restaurant.chicken
        - catering.restaurant.mexican
        - catering.restaurant.japanese
        - catering.restaurant.american
        - catering.restaurant.kebab
        - catering.restaurant.indian
        - catering.restaurant.asian
        - catering.restaurant.sushi
        - catering.restaurant.french
        - catering.restaurant.german
        - catering.restaurant.thai
        - catering.restaurant.greek
        - catering.restaurant.seafood
        - catering.restaurant.fish_and_chips
        - catering.restaurant.steak_house
        - catering.restaurant.international
        - catering.restaurant.tex-mex
        - catering.restaurant.vietnamese
        - catering.restaurant.turkish
        - catering.restaurant.korean
        - catering.restaurant.noodle
        - catering.restaurant.barbecue
        - catering.restaurant.spanish
        - catering.restaurant.fish
        - catering.restaurant.ramen
        - catering.restaurant.mediterranean
        - catering.restaurant.friture
        - catering.restaurant.beef_bowl
        - catering.restaurant.lebanese
        - catering.restaurant.wings
        - catering.restaurant.georgian
        - catering.restaurant.tapas
        - catering.restaurant.indonesian
        - catering.restaurant.arab
        - catering.restaurant.portuguese
        - catering.restaurant.russian
        - catering.restaurant.filipino
        - catering.restaurant.african
        - catering.restaurant.malaysian
        - catering.restaurant.caribbean
        - catering.restaurant.peruvian
        - catering.restaurant.bavarian
        - catering.restaurant.brazilian
        - catering.restaurant.curry
        - catering.restaurant.dumpling
        - catering.restaurant.persian
        - catering.restaurant.argentinian
        - catering.restaurant.oriental
        - catering.restaurant.balkan
        - catering.restaurant.moroccan
        - catering.restaurant.pita
        - catering.restaurant.ethiopian
        - catering.restaurant.taiwanese
        - catering.restaurant.latin_american
        - catering.restaurant.hawaiian
        - catering.restaurant.irish
        - catering.restaurant.austrian
        - catering.restaurant.croatian
        - catering.restaurant.danish
        - catering.restaurant.tacos
        - catering.restaurant.bolivian
        - catering.restaurant.hungarian
        - catering.restaurant.western
        - catering.restaurant.european
        - catering.restaurant.jamaican
        - catering.restaurant.cuban
        - catering.restaurant.soup
        - catering.restaurant.uzbek
        - catering.restaurant.nepalese
        - catering.restaurant.czech
        - catering.restaurant.syrian
        - catering.restaurant.afghan
        - catering.restaurant.malay
        - catering.restaurant.chili
        - catering.restaurant.belgian
        - catering.restaurant.ukrainian
        - catering.restaurant.swedish
        - catering.restaurant.pakistani
        - catering.fast_food
        - catering.fast_food.pizza
        - catering.fast_food.burger
        - catering.fast_food.sandwich
        - catering.fast_food.kebab
        - catering.fast_food.fish_and_chips
        - catering.fast_food.noodle
        - catering.fast_food.ramen
        - catering.fast_food.wings
        - catering.fast_food.tapas
        - catering.fast_food.pita
        - catering.fast_food.tacos
        - catering.fast_food.soup
        - catering.fast_food.salad
        - catering.fast_food.hot_dog
        - catering.cafe
        - catering.cafe.waffle
        - catering.cafe.ice_cream
        - catering.cafe.coffee_shop
        - catering.cafe.donut
        - catering.cafe.crepe
        - catering.cafe.bubble_tea
        - catering.cafe.cake
        - catering.cafe.frozen_yogurt
        - catering.cafe.dessert
        - catering.cafe.coffee
        - catering.cafe.tea
        - catering.food_court
        - catering.bar
        - catering.pub
        - catering.ice_cream
        - catering.biergarten
        - catering.taproom
        - commercial
        - commercial.supermarket
        - commercial.marketplace
        - commercial.shopping_mall
        - commercial.department_store
        - commercial.elektronics
        - commercial.outdoor_and_sport
        - commercial.outdoor_and_sport.water_sports
        - commercial.outdoor_and_sport.ski
        - commercial.outdoor_and_sport.diving
        - commercial.outdoor_and_sport.hunting
        - commercial.outdoor_and_sport.bicycle
        - commercial.outdoor_and_sport.fishing
        - commercial.outdoor_and_sport.golf
        - commercial.vehicle
        - commercial.hobby
        - commercial.hobby.model
        - commercial.hobby.anime
        - commercial.hobby.collecting
        - commercial.hobby.games
        - commercial.hobby.brewing
        - commercial.hobby.photo
        - commercial.hobby.music
        - commercial.hobby.sewing_and_knitting
        - commercial.hobby.art
        - commercial.books
        - commercial.gift_and_souvenir
        - commercial.stationery
        - commercial.newsagent
        - commercial.tickets_and_lottery
        - commercial.clothing
        - commercial.clothing.shoes
        - commercial.clothing.clothes
        - commercial.clothing.underwear
        - commercial.clothing.sport
        - commercial.clothing.men
        - commercial.clothing.women
        - commercial.clothing.kids
        - commercial.clothing.accessories
        - commercial.bag
        - commercial.baby_goods
        - commercial.agrarian
        - commercial.garden
        - commercial.houseware_and_hardware
        - commercial.houseware_and_hardware.doityourself
        - commercial.houseware_and_hardware.hardware_and_tools
        - commercial.houseware_and_hardware.building_materials
        - commercial.houseware_and_hardware.building_materials.paint
        - commercial.houseware_and_hardware.building_materials.glaziery
        - commercial.houseware_and_hardware.building_materials.doors
        - commercial.houseware_and_hardware.building_materials.tiles
        - commercial.houseware_and_hardware.building_materials.windows
        - commercial.houseware_and_hardware.building_materials.flooring
        - commercial.houseware_and_hardware.fireplace
        - commercial.houseware_and_hardware.swimming_pool
        - commercial.florist
        - commercial.furniture_and_interior
        - commercial.furniture_and_interior.lighting
        - commercial.furniture_and_interior.curtain
        - commercial.furniture_and_interior.carpet
        - commercial.furniture_and_interior.kitchen
        - commercial.furniture_and_interior.bed
        - commercial.furniture_and_interior.bathroom
        - commercial.chemist
        - commercial.health_and_beauty
        - commercial.health_and_beauty.pharmacy
        - commercial.health_and_beauty.optician
        - commercial.health_and_beauty.medical_supply
        - commercial.health_and_beauty.hearing_aids
        - commercial.health_and_beauty.herbalist
        - commercial.health_and_beauty.cosmetics
        - commercial.health_and_beauty.wigs
        - commercial.toy_and_game
        - commercial.pet
        - commercial.food_and_drink
        - commercial.food_and_drink.bakery
        - commercial.food_and_drink.deli
        - commercial.food_and_drink.frozen_food
        - commercial.food_and_drink.pasta
        - commercial.food_and_drink.spices
        - commercial.food_and_drink.organic
        - commercial.food_and_drink.honey
        - commercial.food_and_drink.rice
        - commercial.food_and_drink.nuts
        - commercial.food_and_drink.health_food
        - commercial.food_and_drink.ice_cream
        - commercial.food_and_drink.seafood
        - commercial.food_and_drink.fruit_and_vegetable
        - commercial.food_and_drink.farm
        - commercial.food_and_drink.confectionery
        - commercial.food_and_drink.chocolate
        - commercial.food_and_drink.butcher
        - commercial.food_and_drink.cheese_and_dairy
        - commercial.food_and_drink.drinks
        - commercial.food_and_drink.coffee_and_tea
        - commercial.convenience
        - commercial.discount_store
        - commercial.smoking
        - commercial.second_hand
        - commercial.gas
        - commercial.weapons
        - commercial.pyrotechnics
        - commercial.energy
        - commercial.wedding
        - commercial.jewelry
        - commercial.watches
        - commercial.art
        - commercial.antiques
        - commercial.video_and_music
        - commercial.erotic
        - commercial.trade
        - commercial.kiosk
        - education
        - education.school
        - education.driving_school
        - education.music_school
        - education.language_school
        - education.library
        - education.college
        - education.university
        - childcare
        - childcare.kindergarten
        - emergency
        - emergency.fire_hydrant
        - emergency.fire_service_inlet
        - emergency.suction_point
        - emergency.defibrillator
        - emergency.water_tank
        - emergency.phone
        - emergency.assembly_point
        - emergency.fire_extinguisher
        - emergency.ambulance_station
        - emergency.access_point
        - emergency.siren
        - emergency.fire_alarm_box
        - emergency.first_aid_kit
        - emergency.first_aid
        - emergency.bleed_control_kit
        - emergency.emergency_ward_entrance
        - emergency.control_centre
        - emergency.fire_water_pond
        - emergency.fire_hose
        - emergency.dry_riser_inlet
        - emergency.fire_detection_system
        - emergency.key_depot
        - emergency.fire_lookout
        - emergency.fire_flapper
        - emergency.lifeguard
        - emergency.life_ring
        - emergency.landing_site
        - emergency.water_rescue
        - emergency.marine_rescue
        - emergency.mountain_rescue
        - emergency.air_rescue_service
        - emergency.rescue_box
        - emergency.slipway
        - emergency.disaster_response
        - emergency.disaster_help_point
        - emergency.drinking_water
        - emergency.lifeguard_base
        - entertainment
        - entertainment.culture
        - entertainment.culture.theatre
        - entertainment.culture.arts_centre
        - entertainment.culture.gallery
        - entertainment.zoo
        - entertainment.aquarium
        - entertainment.planetarium
        - entertainment.museum
        - entertainment.cinema
        - entertainment.amusement_arcade
        - entertainment.escape_game
        - entertainment.miniature_golf
        - entertainment.bowling_alley
        - entertainment.flying_fox
        - entertainment.theme_park
        - entertainment.water_park
        - entertainment.activity_park
        - entertainment.activity_park.trampoline
        - entertainment.activity_park.climbing
        - healthcare
        - healthcare.clinic_or_praxis
        - healthcare.clinic_or_praxis.allergology
        - healthcare.clinic_or_praxis.vascular_surgery
        - healthcare.clinic_or_praxis.urology
        - healthcare.clinic_or_praxis.trauma
        - healthcare.clinic_or_praxis.rheumatology
        - healthcare.clinic_or_praxis.radiology
        - healthcare.clinic_or_praxis.pulmonology
        - healthcare.clinic_or_praxis.psychiatry
        - healthcare.clinic_or_praxis.paediatrics
        - healthcare.clinic_or_praxis.otolaryngology
        - healthcare.clinic_or_praxis.orthopaedics
        - healthcare.clinic_or_praxis.ophthalmology
        - healthcare.clinic_or_praxis.occupational
        - healthcare.clinic_or_praxis.gynaecology
        - healthcare.clinic_or_praxis.general
        - healthcare.clinic_or_praxis.gastroenterology
        - healthcare.clinic_or_praxis.endocrinology
        - healthcare.clinic_or_praxis.dermatology
        - healthcare.clinic_or_praxis.cardiology
        - healthcare.dentist
        - healthcare.dentist.orthodontics
        - healthcare.hospital
        - healthcare.pharmacy
        - heritage
        - heritage.unesco
        - traffic_signals
        - highway
        - highway.residential
        - highway.public
        - highway.service
        - highway.track
        - highway.footway
        - highway.busway
        - highway.cycleway
        - highway.pedestrian
        - highway.path
        - highway.living_street
        - highway.primary
        - highway.primary.link
        - highway.secondary
        - highway.secondary.link
        - highway.tertiary
        - highway.tertiary.link
        - highway.trunk
        - highway.trunk.link
        - highway.motorway
        - highway.motorway.junction
        - highway.motorway.link
        - leisure
        - leisure.picnic
        - leisure.picnic.picnic_site
        - leisure.picnic.picnic_table
        - leisure.picnic.bbq
        - leisure.playground
        - leisure.spa
        - leisure.spa.public_bath
        - leisure.spa.sauna
        - leisure.park
        - leisure.park.garden
        - leisure.park.nature_reserve
        - man_made
        - man_made.pier
        - man_made.breakwater
        - man_made.tower
        - man_made.water_tower
        - man_made.bridge
        - man_made.lighthouse
        - man_made.windmill
        - man_made.watermill
        - memorial
        - memorial.graveyard
        - memorial.cemetery
        - memorial.cemetery.sector
        - memorial.christian
        - memorial.christian.catholic
        - memorial.christian.orthodox
        - memorial.christian.protestant
        - memorial.jewish
        - memorial.muslim
        - memorial.buddhist
        - memorial.hindu
        - natural
        - natural.forest
        - natural.water
        - natural.water.sea
        - natural.water.spring
        - natural.water.reef
        - natural.water.hot_spring
        - natural.water.geyser
        - natural.mountain
        - natural.mountain.peak
        - natural.mountain.glacier
        - natural.mountain.cliff
        - natural.mountain.rock
        - natural.mountain.cave_entrance
        - natural.sand
        - natural.sand.dune
        - natural.protected_area
        - national_park
        - office
        - office.government
        - office.government.administrative
        - office.government.register_office
        - office.government.tax
        - office.government.public_service
        - office.government.ministry
        - office.government.healthcare
        - office.government.prosecutor
        - office.government.transportation
        - office.government.social_services
        - office.government.legislative
        - office.government.education
        - office.government.customs
        - office.government.social_security
        - office.government.environment
        - office.government.migration
        - office.government.cadaster
        - office.government.forestry
        - office.government.agriculture
        - office.company
        - office.estate_agent
        - office.insurance
        - office.lawyer
        - office.telecommunication
        - office.educational_institution
        - office.association
        - office.non_profit
        - office.diplomatic
        - office.it
        - office.accountant
        - office.employment_agency
        - office.religion
        - office.research
        - office.architect
        - office.financial
        - office.tax_advisor
        - office.advertising_agency
        - office.notary
        - office.newspaper
        - office.political_party
        - office.logistics
        - office.energy_supplier
        - office.travel_agent
        - office.financial_advisor
        - office.consulting
        - office.foundation
        - office.coworking
        - office.water_utility
        - office.forestry
        - office.charity
        - office.security
        - parking
        - parking.cars
        - parking.cars.surface
        - parking.cars.multistorey
        - parking.cars.underground
        - parking.cars.rooftop
        - parking.surface
        - parking.multistorey
        - parking.underground
        - parking.rooftop
        - parking.motorcycle
        - parking.bicycles
        - pet
        - pet.shop
        - pet.veterinary
        - pet.service
        - pet.dog_park
        - pet.crematorium
        - continent
        - island
        - populated_place
        - populated_place.hamlet
        - populated_place.village
        - populated_place.neighbourhood
        - populated_place.suburb
        - populated_place.town
        - populated_place.city_block
        - populated_place.quarter
        - populated_place.city
        - populated_place.allotments
        - populated_place.county
        - populated_place.municipality
        - populated_place.district
        - populated_place.region
        - populated_place.state
        - populated_place.borough
        - populated_place.subdistrict
        - populated_place.province
        - populated_place.township
        - power
        - power.tower
        - power.pole
        - power.portal
        - power.switch
        - power.plant
        - power.plant.solar
        - power.plant.hydro
        - power.plant.wind
        - power.plant.gas
        - power.plant.coal
        - power.plant.biomass
        - power.plant.oil
        - power.plant.waste
        - power.plant.geothermal
        - power.plant.nuclear
        - power.catenary_mast
        - power.cable
        - power.terminal
        - power.insulator
        - power.heliostat
        - power.connection
        - power.inverter
        - power.converter
        - power.compensator
        - power.generator
        - power.generator.solar
        - power.generator.wind
        - power.generator.gas
        - power.generator.biomass
        - power.generator.hydro
        - power.generator.oil
        - power.generator.coal
        - power.generator.nuclear
        - power.generator.geothermal
        - power.line
        - power.circuit
        - power.minor_line
        - power.substation
        - power.transformer
        - production
        - production.factory
        - production.winery
        - production.brewery
        - production.cheese
        - production.pottery
        - public_transport
        - public_transport.train
        - public_transport.light_rail
        - public_transport.monorail
        - public_transport.subway
        - public_transport.subway.entrance
        - public_transport.bus
        - public_transport.tram
        - public_transport.ferry
        - public_transport.aerialway
        - railway
        - railway.train
        - railway.subway
        - railway.tram
        - railway.light_rail
        - railway.funicular
        - railway.construction
        - railway.underground
        - railway.surface
        - religion
        - religion.place_of_worship
        - religion.place_of_worship.buddhism
        - religion.place_of_worship.christianity
        - religion.place_of_worship.hinduism
        - religion.place_of_worship.islam
        - religion.place_of_worship.judaism
        - religion.place_of_worship.shinto
        - religion.place_of_worship.sikhism
        - religion.place_of_worship.multifaith
        - rental
        - rental.car
        - rental.storage
        - rental.bicycle
        - rental.boat
        - rental.ski
        - service
        - service.financial
        - service.financial.atm
        - service.financial.payment_terminal
        - service.financial.bank
        - service.financial.bureau_de_change
        - service.financial.money_transfer
        - service.financial.money_lender
        - service.cleaning
        - service.cleaning.lavoir
        - service.cleaning.laundry
        - service.cleaning.dry_cleaning
        - service.crematorium
        - service.crematorium.pet
        - service.funeral_hall
        - service.mortuary
        - service.place_of_mourning
        - service.travel_agency
        - service.post
        - service.post.office
        - service.post.box
        - service.police
        - service.fire_station
        - service.vehicle
        - service.vehicle.fuel
        - service.vehicle.car_wash
        - service.vehicle.charging_station
        - service.vehicle.repair
        - service.vehicle.repair.car
        - service.vehicle.repair.motorcycle
        - service.beauty
        - service.beauty.hairdresser
        - service.beauty.spa
        - service.beauty.massage
        - service.tailor
        - service.funeral_directors
        - service.bookmaker
        - service.estate_agent
        - service.locksmith
        - service.taxi
        - service.social_facility
        - service.social_facility.shelter
        - service.social_facility.food
        - service.social_facility.clothers
        - service.recycling
        - service.recycling.container
        - service.recycling.centre
        - service.recycling.bin
        - ski
        - ski.lift
        - ski.lift.cable_car
        - ski.lift.gondola
        - ski.lift.mixed_lift
        - ski.lift.chair_lift
        - ski.lift.tow_line
        - ski.lift.magic_carpet
        - sport
        - sport.stadium
        - sport.dive_centre
        - sport.horse_riding
        - sport.ice_rink
        - sport.pitch
        - sport.sports_centre
        - sport.swimming_pool
        - sport.track
        - sport.fitness
        - sport.fitness.fitness_centre
        - sport.fitness.fitness_station
        - tourism
        - tourism.information
        - tourism.information.office
        - tourism.information.map
        - tourism.information.ranger_station
        - tourism.attraction
        - tourism.attraction.artwork
        - tourism.attraction.viewpoint
        - tourism.attraction.fountain
        - tourism.attraction.clock
        - tourism.sights
        - tourism.sights.square
        - tourism.sights.place_of_worship
        - tourism.sights.place_of_worship.church
        - tourism.sights.place_of_worship.chapel
        - tourism.sights.place_of_worship.cathedral
        - tourism.sights.place_of_worship.mosque
        - tourism.sights.place_of_worship.synagogue
        - tourism.sights.place_of_worship.temple
        - tourism.sights.place_of_worship.shrine
        - tourism.sights.monastery
        - tourism.sights.city_hall
        - tourism.sights.conference_centre
        - tourism.sights.lighthouse
        - tourism.sights.windmill
        - tourism.sights.tower
        - tourism.sights.battlefield
        - tourism.sights.fort
        - tourism.sights.castle
        - tourism.sights.ruines
        - tourism.sights.archaeological_site
        - tourism.sights.city_gate
        - tourism.sights.bridge
        - tourism.sights.memorial
        - tourism.sights.memorial.aircraft
        - tourism.sights.memorial.locomotive
        - tourism.sights.memorial.railway_car
        - tourism.sights.memorial.ship
        - tourism.sights.memorial.tank
        - tourism.sights.memorial.tomb
        - tourism.sights.memorial.monument
        - tourism.sights.memorial.wayside_cross
        - tourism.sights.memorial.boundary_stone
        - tourism.sights.memorial.pillory
        - tourism.sights.memorial.milestone
        - tourism.sights.memorial.necropolis
        - tourism.sights.memorial.tumulus